

.container{
    margin-top: 100px;
    background-image: url(../../A.jpg) ;
    background-repeat: repeat;
    padding: 20px;
    color: white;
    width: 60%;
}

.remember{
    font-size: 20px;
}

.btn-warning{
    color: rgb(53, 53, 53);
    margin-bottom: 20px;
}

.btn-warning[disabled]{
    opacity: 0.55;
    cursor: not-allowed;
}

.button1{
    float: left;
    font-size: 14px;
}

.button{
    margin-right:130px !important;
}
