
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
    crossorigin='anonymous'>
    

  <div class="text-center">
    <div class="logo text-center">Ekstra sklepik <i class="far fa-thumbs-up"></i></div>
    <div class="btn-group btn-group-lg">
      <button class="btn btn-info btn-primary" [routerLink]= "['../shop']">Strona główna</button>
      <button class="btn btn-info btn-primary" [routerLink]= "['../addproduct']">Dodaj przedmiot</button>
      <button class="btn btn-info btn-primary" [routerLink]= "['../cart']">Koszyk</button>
      <button class="btn btn-info btn-primary" [routerLink] = "['../login']">Wyloguj</button>
    </div>
  </div>
