.logo{
    float: left;
    margin-left: 50px;
    font-size: 27px;
    padding:17px;
    color:white; 
    font-weight: bold;
}

.text-center{
    background-image: url(../../A.jpg);
    background-repeat: repeat;
}

.btn-dark{
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(53, 53, 53);
    color:white;
    font-weight: bold;
}

.btn-group{
    margin-right: 250px;
}