.logo{
    float: left;
    margin-left: 50px;
    font-size: 27px;
    padding:17px;
    color:white; 
    font-weight: bold;
}

.text-center{
    background-color: #204a81;
}

.btn-primary{
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
}

.btn-group{
    margin-right: 250px;
}