.users{
    margin-top: 50px !important;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    font-size: 27px;
}

.btn-dark{
    padding: 14px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    color:white;
    font-weight: bold;
}

.fa{
    margin-left: 20px;
    font-size: 24px;
}