
.all{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    color:white;
}

.input-group{
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(53, 53, 53);
    padding: 0px;
    background-clip: border-box;
}

.input-group-text{
    font-weight: bold;
}

.pr{
    width: 30%;
}

.name{
    width: 50%;
}

.btn-warning{
    width: 270px;
    height: 80px;
    margin-right: 110px;
    margin-top: 20px;
    box-shadow: 10px 15px 45px rgb(53, 53, 53);
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:45%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
}

.btn-warning[disabled]{
    opacity: 0.55;
    cursor: not-allowed;
}

.text{
    width: 160px;
}

.if{
    color: white;
    font-size: 16px;
}

.input-group-text{
    color:white;
    background-color: rgb(51, 51, 51);
}

.valid{
    color:red;
    font-size: 17px;
    margin-left: 5px;
}

.img{
    display: inline-block;
    margin-left: 20px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    font-weight: bold;
}

.input-group-prepend{
    padding: 10px;
    font-size: 20px;
    padding: 0px;
    display: inline-block;
    
}