
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<table id="table">
  <tr>
    <th>Login</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Rola</th>
    <th>Akcje<i class="glyphicon glyphicon-plus-sign" [routerLink]="['..','add-user']" (click)="add()"></i></th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.login}}</td>
    <td>{{user.name}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.role}}</td>
    <td>
      <button class = "btn-dark"  [routerLink]="['..','edit-user',user.id]" (click)="edit(user)">Edytuj</button>
      <button class = "btn-dark" (click)= "deleteUser(user)">Usuń</button>
    </td>
  </tr>
</table>
